<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- Enable component scanning -->
    <context:component-scan base-package="com.example.library" />
    
    <!-- Enable AspectJ auto-proxying -->
    <aop:aspectj-autoproxy/>

    <!-- Bean definition for LoggingAspect -->
    <bean id="loggingAspect" class="com.example.library.aspect.LoggingAspect"/>
    
    <!-- Bean definition for BookRepository -->
    <bean id="bookRepository" class="com.example.library.repository.BookRepository">
    </bean>

    <!-- Bean definition for BookService with constructor and setter injection -->
    <bean id="bookService" class="com.example.library.service.BookService">
        <constructor-arg ref="bookRepository"/>
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

</beans>
